.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100vw;
  background-color: var(--background);
}

.header {
  border-bottom: 10px solid var(--off-black);
}

.footer {
  border-top: 10px solid var(--off-black);
  max-width: 100%;
}

.header,
.footer {
  font-family: 'Terminal Grotesque';
  font-size: 1.2rem;
  height: 70px;
}