*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --off-black: #111314;
  --background: #f98419;
  --hover: #1c36f7;
  --speed: 5s;
}

@font-face {
  font-family: 'Terminal Grotesque';
  src: url("../fonts/terminal-grotesque.ttf");
  font-style: normal;
}

@font-face {
  font-family: 'Terminal Grotesque Open';
  src: url("../fonts/terminal-grotesque_open.otf");
  font-style: normal;
}

@font-face {
  font-family: 'Noto Emoji';
  src: url("../fonts/NotoEmoji-VariableFont_wght.ttf");
  font-style: normal;
}